<div class="d-flex justify-content-between">
    <h1>
        <mat-icon>devices</mat-icon> Device Templates
    </h1>
    <div class="align-self-center p-3" *ngIf="cargando">
        <mat-progress-spinner [diameter]="20" mode="indeterminate"></mat-progress-spinner>
    </div>
    
    <div class="justify-content-end">
        <a class="btn btn-outline-primary mt-2">Create new</a>
    </div>
</div>

<hr>

<div>
    <ul class="list-group" *ngFor="let deviceTemplate of deviceTemplates">
        <li (click)="details(deviceTemplate.Id)" class="list-group-item list-group-item-action d-flex justify-content-between" role='button'>{{deviceTemplate.Name}} <mat-icon>keyboard_arrow_right</mat-icon></li>
    </ul>
</div>
