<h1>{{title}}</h1>
<hr>
<div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>description</mat-icon>
        Details
      </ng-template>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Basic Info</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>
              <h5><mat-icon>assignment</mat-icon> Description</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nam?</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <h5><mat-icon>language</mat-icon> Clinical status</h5>
              <p>Spain</p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Specific Info</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>
              <h5><mat-icon>warning</mat-icon>Disease</h5>
              <p>Olfatory value</p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
