<div class="row">
    <div class="col">
        <h1>{{goal.Name | titlecase}}</h1>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-danger" (click)="removeDialog('Goal', 1, goal.Id)">Remove goal</button>
        </div>
    </div>    
</div>
<hr>
<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>show_chart</mat-icon>
            Goals
        </ng-template>
        <dataTable [dataSource] = tableDetailsDataSource></dataTable>
        <div class="d-flex justify-content-end mt-2">
            <a class="btn btn-success" (click)="editGoal()">Edit</a>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list_alt</mat-icon>
            Target
        </ng-template>
        <ol class="list-group mt-2" *ngFor="let target of goal.Targets">
            <li class="list-group-item d-flex align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{target.DueDate | date}}</div>
                    <div>Desired Value: {{target.DesiredValue}}</div>
                    <div>Description: {{target.Description | titlecase}}</div>
                </div>
                <div>
                    <button class="btn btn-outline-success" (click)="editTarget(target.Id)">Edit</button>
                    <button class="btn btn-outline-danger" (click)="removeDialog('Target', 2, target.Id)">Remove</button>
                </div>
            </li>
        </ol>
        <div class="d-flex justify-content-end mt-2">
            <a class="btn btn-primary" (click)="createTarget()">Create new</a>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>