<!-- <div style="text-align: center;">
  <form [formGroup]="form" class="card d-flex justify-content-center form">
    <div>
      <h3>Login</h3>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Usuario" formControlName="user" required>
      <mat-error>Campo requerido</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
      <mat-error>Campo requerido</mat-error>
    </mat-form-field>
    <br/>
    <button class="btn btn-success" mat-raised-button color="primary" (click)="login()">
      <span class="mat-body-2">Enviar</span>
    </button>
  </form>
</div> -->

<div class="login">
  <form class="custom-form" method="post">
    <h1>Login</h1>
    <input
      type="email"
      formControlName="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      formControlName="password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <button type="submit" (click)="login()">Log in</button>
  </form>
</div>
